@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Styles for @thatopen/ui components */
.options-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
}

.phone-menu-toggler {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 6;
  display: none;
}

@media (max-width: 768px) {
  .phone-menu-toggler {
    display: block;
  }

  .options-menu {
    display: none;
  }

  .options-menu-visible {
    display: block !important;
  }
}
